.home-container {
  width: 100%;
  display: flex;
  overflow: hidden;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #000000;
}
.home-hero {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  align-items: center;
  padding-left: var(--dl-space-space-fiveunits);
  flex-direction: column;
  justify-content: flex-start;
}
.home-video {
  top: 0px;
  left: 0px;
  width: 100%;
  filter: opacity(0.6);
  height: 100%;
  position: absolute;
  object-fit: cover;
}
.home-navbar {
  width: 100%;
  display: flex;
  z-index: 1000;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  justify-content: space-between;
}
.home-branding {
  width: 341px;
  height: 64px;
  object-fit: cover;
}
.home-burger-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-mobile-menu {
  top: 0px;
  left: 0px;
  color: var(--dl-color-gray-white);
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: fixed;
  transform: translateX(100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-gray-black);
}
.home-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.home-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-icon {
  fill: var(--dl-color-gray-white);
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-nav1 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text {
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text01 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text02 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text03 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text04 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-container2 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
}
.home-login {
  margin-right: var(--dl-space-space-twounits);
  background-color: var(--dl-color-primary-300);
}
.home-register {
  background-color: var(--dl-color-primary-300);
}
.home-icon-group {
  fill: var(--dl-color-gray-white);
  display: flex;
}
.home-icon2 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-icon4 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-icon6 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-hero-content {
  gap: var(--dl-space-space-fiveunits);
  flex: 1;
  width: 100%;
  display: flex;
  z-index: 100;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-header-container {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-header {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-heading {
  color: rgb(255, 255, 255);
  font-size: 100px;
  max-width: 790px;
  font-style: normal;
  font-weight: 500;
}
.home-text06 {
  font-style: italic;
  font-family: "Playfair Display";
}
.home-caption {
  color: var(--dl-color-primary-100);
  font-size: 24px;
  max-width: 600px;
  line-height: 36px;
}
.home-note {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-end;
  padding-top: 120px;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: 120px;
  justify-content: flex-start;
}
.home-caption1 {
  color: rgb(124, 124, 128);
  font-size: 40px;
  max-width: 800px;
  text-align: center;
  font-weight: 200;
  line-height: 52px;
  margin-right: 158px;
  text-transform: capitalize;
}
.home-text08 {
  font-style: normal;
  font-weight: 300;
}
.home-text09 {
  font-style: normal;
  font-weight: 300;
}
.home-text10 {
  font-style: normal;
  font-weight: 300;
}
.home-slider {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: flex-start;
}
.home-header01 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-heading1 {
  color: rgb(255, 255, 255);
  font-size: 60px;
  max-width: 900px;
  font-style: normal;
  font-weight: 400;
}
.home-text14 {
  font-style: italic;
  font-family: "Playfair Display";
  font-weight: 500;
}
.home-slides {
  gap: var(--dl-space-space-fourunits);
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
}
.home-container4 {
  display: contents;
}
.home-slide {
  background-color: var(--dl-color-primary-300);
}
.home-image {
  width: 332px;
  height: 401px;
  object-fit: cover;
  aspect-ratio: 1;
}
.home-content {
  width: 819px;
  height: 399px;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
  background-color: var(--dl-color-primary-300);
}
.home-header02 {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  flex-direction: column;
}
.home-heading2 {
  color: rgb(255, 255, 255);
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
}
.home-caption2 {
  color: var(--dl-color-gray-white);
  max-width: 600px;
  line-height: 24px;
}
.home-more {
  gap: 4px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  cursor: pointer;
  display: flex;
  transition: 0.3s;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-more:hover {
  opacity: 0.5;
}
.home-slide1 {
  height: auto;
  background-color: var(--dl-color-primary-300);
}
.home-content1 {
  width: 632px;
  height: 398px;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
  background-color: var(--dl-color-primary-300);
}
.home-header03 {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  flex-direction: column;
}
.home-heading3 {
  color: var(--dl-color-gray-white);
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
}
.home-caption3 {
  color: var(--dl-color-gray-white);
  max-width: 600px;
  line-height: 24px;
}
.home-image1 {
  height: 400px;
  object-fit: cover;
  aspect-ratio: 1;
}
.home-slide2 {
  width: 1158px;
  height: 403px;
  background-color: var(--dl-color-primary-300);
}
.home-image2 {
  height: 100%;
  object-fit: cover;
  aspect-ratio: 1;
}
.home-content2 {
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
  background-color: var(--dl-color-primary-300);
}
.home-header04 {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  flex-direction: column;
}
.home-heading4 {
  color: rgb(255, 255, 255);
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
}
.home-caption4 {
  color: var(--dl-color-gray-white);
  max-width: 600px;
  line-height: 24px;
}
.home-more1 {
  gap: 4px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  cursor: pointer;
  display: flex;
  transition: 0.3s;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-more1:hover {
  opacity: 0.5;
}
.home-growth {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: space-between;
}
.home-container5 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.home-container6 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.home-content3 {
  gap: var(--dl-space-space-threeunits);
  flex: 1;
  display: flex;
  max-width: 640px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-header05 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-header06 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-heading5 {
  color: rgb(255, 255, 255);
  height: 222px;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  padding-top: var(--dl-space-space-sixunits);
}
.home-caption5 {
  color: rgb(124, 124, 128);
  width: 100%;
  height: 330px;
  font-size: 24px;
  max-width: 560px;
  line-height: 36px;
}
.home-images {
  flex: 1;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  flex-direction: column;
  justify-content: center;
}
.home-square {
  top: 64px;
  right: -35px;
  width: 180px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  aspect-ratio: 1;
  flex-direction: row;
  justify-content: flex-start;
  background-color: var(--dl-color-primary-300);
}
.home-image3 {
  width: 518px;
  height: 687px;
  z-index: 100;
  margin-top: var(--dl-space-space-sixunits);
  object-fit: cover;
  padding-left: 12px;
}
.home-experience {
  gap: var(--dl-space-space-fourunits);
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-end;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: center;
}
.home-images1 {
  flex: 1;
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: center;
}
.home-square1 {
  left: -35px;
  width: 180px;
  bottom: -35px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  aspect-ratio: 1;
  flex-direction: row;
  justify-content: flex-start;
  background-color: var(--dl-color-primary-300);
}
.home-image4 {
  width: 697px;
  height: 775px;
  z-index: 100;
  object-fit: cover;
}
.home-content4 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  max-width: 640px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-header07 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  border-color: #313133;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: center;
  border-bottom-width: 1px;
}
.home-header-container1 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-header08 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-heading6 {
  color: rgb(255, 255, 255);
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
}
.home-caption6 {
  color: rgb(124, 124, 128);
  width: 100%;
  font-size: 24px;
  max-width: 560px;
  line-height: 36px;
}
.home-get-started {
  width: 100%;
  height: 989px;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: flex-end;
}
.home-heading7 {
  color: rgb(255, 255, 255);
  width: 1029px;
  height: 357px;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
}
.home-image5 {
  top: 92px;
  right: 10px;
  width: 429px;
  height: 609px;
  position: absolute;
  object-fit: cover;
}
.home-button {
  align-self: flex-end;
  background-color: var(--dl-color-primary-300);
}
.home-create {
  gap: var(--dl-space-space-fourunits);
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: flex-end;
}
.home-content5 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 120px;
  flex-direction: column;
  padding-bottom: 120px;
  justify-content: center;
  background-color: var(--dl-color-primary-300);
}
.home-header09 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-heading8 {
  color: rgb(255, 255, 255);
  font-size: 100px;
  text-align: center;
  font-weight: 500;
}
.home-text21 {
  font-style: italic;
  font-family: "Playfair Display";
  font-weight: 400;
}
.home-text22 {
  font-style: italic;
  font-family: "Playfair Display";
  font-weight: 400;
}
.home-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.home-content6 {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-fiveunits);
  border-color: #313133;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  border-top-width: 1px;
}
.home-main {
  gap: 240px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.home-branding1 {
  gap: var(--dl-space-space-twounits);
  width: 400px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-image6 {
  width: 310px;
  height: 55px;
  object-fit: cover;
}
.home-text25 {
  color: rgb(124, 124, 128);
  line-height: 24px;
}
.home-links {
  gap: 120px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home-column {
  gap: var(--dl-space-space-threeunits);
  color: white;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-header10 {
  font-size: 24px;
  font-style: italic;
  font-family: "Playfair Display";
  font-weight: 500;
}
.home-list {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-navlink {
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
  line-height: 32px;
  text-decoration: none;
}
.home-navlink:hover {
  opacity: .5;
}
.home-bottom {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-text26 {
  color: rgb(124, 124, 128);
  font-size: 14px;
  line-height: 21px;
}
.home-container8 {
  display: contents;
}
@media(max-width: 991px) {
  .home-hero {
    padding-left: var(--dl-space-space-oneandhalfunits);
  }
  .home-hero-content {
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .home-image {
    width: 100%;
    height: 120px;
  }
  .home-content {
    gap: var(--dl-space-space-unit);
    width: 100%;
    height: auto;
    padding-top: var(--dl-space-space-oneandhalfunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-oneandhalfunits);
    justify-content: flex-start;
  }
  .home-header02 {
    gap: var(--dl-space-space-halfunit);
    width: 100%;
  }
  .home-heading2 {
    font-size: 24px;
  }
  .home-caption2 {
    max-width: 600px;
  }
  .home-content1 {
    gap: var(--dl-space-space-unit);
    width: 100%;
    height: auto;
    padding-top: var(--dl-space-space-oneandhalfunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-oneandhalfunits);
    justify-content: flex-start;
  }
  .home-header03 {
    gap: var(--dl-space-space-halfunit);
    width: 100%;
  }
  .home-heading3 {
    font-size: 24px;
  }
  .home-caption3 {
    max-width: 600px;
  }
  .home-image1 {
    width: 100%;
    height: 120px;
  }
  .home-image2 {
    width: 100%;
    height: 120px;
  }
  .home-content2 {
    gap: var(--dl-space-space-unit);
    width: 100%;
    height: auto;
    padding-top: var(--dl-space-space-oneandhalfunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-oneandhalfunits);
    justify-content: flex-start;
  }
  .home-header04 {
    gap: var(--dl-space-space-halfunit);
    width: 100%;
  }
  .home-heading4 {
    font-size: 24px;
  }
  .home-caption4 {
    max-width: 600px;
  }
  .home-growth {
    flex-direction: column;
  }
  .home-images {
    padding-top: 0px;
  }
  .home-square {
    top: -20px;
    right: -20px;
  }
  .home-image3 {
    margin-top: 0px;
  }
  .home-experience {
    align-items: flex-start;
    flex-direction: column-reverse;
  }
  .home-content5 {
    gap: var(--dl-space-space-twounits);
    padding-top: var(--dl-space-space-fourunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .home-heading8 {
    font-size: 50px;
  }
  .home-content6 {
    border-top-width: 0px;
  }
  .home-main {
    gap: var(--dl-space-space-threeunits);
    flex-direction: column;
  }
  .home-branding1 {
    width: 100%;
  }
}
@media(max-width: 767px) {
  .home-burger-menu {
    display: flex;
  }
  .home-heading {
    font-size: 60px;
  }
  .home-note {
    align-items: flex-start;
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .home-caption1 {
    font-size: 18px;
    max-width: 90%;
    line-height: 23px;
    margin-right: 0px;
  }
  .home-text08 {
    font-size: 18px;
    max-width: 90%;
    line-height: 23px;
    margin-right: 0px;
  }
  .home-slider {
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .home-heading1 {
    font-size: 40px;
  }
  .home-slides {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .home-heading2 {
    font-size: 18px;
  }
  .home-caption2 {
    font-size: 12px;
    line-height: 18px;
  }
  .home-heading3 {
    font-size: 18px;
  }
  .home-caption3 {
    font-size: 12px;
    line-height: 18px;
  }
  .home-heading4 {
    font-size: 18px;
  }
  .home-caption4 {
    font-size: 12px;
    line-height: 18px;
  }
  .home-growth {
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .home-content3 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .home-header05 {
    gap: var(--dl-space-space-unit);
  }
  .home-heading5 {
    font-size: 40px;
  }
  .home-caption5 {
    font-size: 16px;
    line-height: 24px;
  }
  .home-image3 {
    width: 100%;
  }
  .home-experience {
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .home-square1 {
    left: -20px;
    width: 20%;
    bottom: -20px;
  }
  .home-image4 {
    width: 100%;
  }
  .home-content4 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .home-header07 {
    padding-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .home-header-container1 {
    gap: var(--dl-space-space-unit);
  }
  .home-heading6 {
    font-size: 40px;
  }
  .home-caption6 {
    font-size: 16px;
    line-height: 24px;
  }
  .home-get-started {
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .home-heading7 {
    font-size: 36px;
    line-height: 42px;
  }
  .home-image5 {
    width: 300px;
  }
  .home-create {
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .home-content5 {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .home-heading8 {
    font-size: 36px;
  }
  .home-footer {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .home-links {
    gap: var(--dl-space-space-fiveunits);
    flex-direction: row;
  }
}
@media(max-width: 479px) {
  .home-branding {
    padding-top: var(--dl-space-space-unit);
  }
  .home-mobile-menu {
    padding: 16px;
  }
  .home-hero-content {
    gap: var(--dl-space-space-threeunits);
  }
  .home-heading {
    font-size: 36px;
  }
  .home-caption {
    font-size: 16px;
    line-height: 24px;
  }
  .home-caption1 {
    align-self: center;
  }
  .home-heading1 {
    font-size: 36px;
    line-height: 42px;
  }
  .home-slide {
    width: 296px;
  }
  .home-image {
    height: 391px;
  }
  .home-slide1 {
    width: 293px;
    height: 459px;
    margin-right: 0px;
  }
  .home-image1 {
    height: 258px;
  }
  .home-slide2 {
    width: 294px;
  }
  .home-image2 {
    height: 228px;
  }
  .home-heading5 {
    font-size: 36px;
  }
  .home-caption5 {
    height: 120px;
  }
  .home-image3 {
    width: 242px;
    height: 315px;
    align-self: flex-end;
  }
  .home-experience {
    height: 752px;
  }
  .home-image4 {
    top: -57px;
    left: 145px;
    width: 284px;
    height: 338px;
    position: absolute;
    align-self: flex-end;
  }
  .home-heading6 {
    color: rgb(255, 255, 255);
  }
  .home-get-started {
    width: 100%;
    height: 619px;
    margin-bottom: 0px;
  }
  .home-heading7 {
    color: rgb(255, 255, 255);
    width: 335px;
    height: 349px;
    font-size: 25px;
    align-self: center;
    font-style: normal;
    font-weight: 400;
    line-height: 42px;
  }
  .home-image5 {
    top: 127px;
    right: 0px;
    width: 227px;
    height: 330px;
    margin: auto;
  }
  .home-button {
    width: 147px;
    height: 33px;
    align-self: flex-end;
    text-align: left;
  }
  .home-create {
    align-self: flex-end;
  }
  .home-heading8 {
    color: rgb(255, 255, 255);
    width: 342px;
    height: 72px;
    font-size: 24px;
    font-style: normal;
    text-align: center;
    font-weight: 500;
  }
  .home-text21 {
    font-style: italic;
    font-family: Playfair Display;
    font-weight: 400;
  }
  .home-text22 {
    font-style: italic;
    font-family: Playfair Display;
    font-weight: 400;
  }
  .home-links {
    gap: var(--dl-space-space-threeunits);
    flex-direction: column;
  }
  .home-bottom {
    gap: var(--dl-space-space-twounits);
    flex-direction: column;
    justify-content: center;
  }
}
